h1{
    color:aqua;
    text-align: center;
    }
h2{
    color:blueviolet;
    text-align: center;
}
p{
    color:whitesmoke;
    text-align:center;
}
body{
    background-image:url("https://www.shutterstock.com/shutterstock/photos/1924663667/display_1500/stock-photo-a-panoramic-view-of-lac-du-miey-and-pic-midi-d-ossau-and-the-gr-hiking-trail-leading-off-into-the-1924663667.jpg");


}